// COLORS

$color-primary-light: #f4e1f3;
$color-primary: #d9abc2;
$color-primary-dark: #a56d89;

$color-gold-very-light: #faf7ef;
$color-gold-light: hsl(40, 90%, 70%);
$color-gold: #f6bf51;
$color-gold-dark: #d4a121;

$color-grey-light: #999;
$color-grey-dark: #292929;

$color-black: #000;
$color-white: #fff;

$color-blue: #4a6182;

// FONT

$default-font-size: 1.6rem;
